<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon name="camera"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>INSTAGRAM</ion-title>
</ion-toolbar>
<ion-content class="ion-padding">
  <div style="display: flex; justify-content: space-around; align-items: center;">
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  </div>
</ion-content>

<div >
  <ion-card >
    <div style="display: space-around; ">
    <ion-item class="ion-padding">
      <ion-icon name="person-circle-outline" slot="start" size="large"></ion-icon>
      <ion-label>
        <h1>Sergio Carrillo</h1>
        <p>córdoba, ver</p>
      </ion-label>
    </ion-item>
    </div>
  <ion-img
    src="https://docs-demo.ionic.io/assets/madison.jpg"
    alt="The Wisconsin State Capitol building in Madison, WI at night"
  ></ion-img>
  <div class="ion-padding">
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="heart-circle-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="paper-plane-outline" slot="end"></ion-icon>
    </ion-button>
  </ion-buttons>
  </div>
    <ion-item class="ion-padding">
      <ion-icon name="person-circle-outline" slot="start" size="large"></ion-icon>
      <ion-label>
        <h3>Sergio Carrillo</h3>
        <p>córdoba, ver</p>
      </ion-label>
    </ion-item>
  </ion-card>
</div>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="buscar">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="add">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="like">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>